<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.js">
    </script>
    <script src="https://unpkg.com/vue@next"></script>
    <title>Par programming</title>
</head>
<body>
    <div id="app">
        <table id="getDuathlete" v-if="duathletes.length > 0">
            <tr>
                <th>
                    Duathletes
                </th>
            </tr>
            <tr v-for="duathlete in duathletes">
                <td>
                    {{ duathlete }}
                </td>
            </tr>
        </table>

        <h2>Post a Duathlete</h2>
        <input id="inputName" v-model="postData.name" type="text" placeholder="name..." />
        <input id="inputAge" v-model="postData.ageGroup" type="number" placeholder="age..." />
        <input id="inputBike" v-model="postData.bike" type="number" placeholder="bike..." />
        <input id="inputRun" v-model="postData.run" type="number" placeholder="run..." />
        <button id="buttonPost" v-on:click="postDuathletes()" class="btn btn-primary">Post a duathlete</button>
        <div><b id="postDuathlete">  {{ duathleteMessage }}  </b></div>

        <h2>Delete (remove duathlete)</h2>
        <input id="inputBibId" v-model.number="bibId" placeholder="bibId" type="number" />
        <button id="buttonDelete" v-on:click="deleteDuathlete(bibId)" class="btn btn-warning">Delete</button>
        <div><b id="deleteDuathlete" >{{  duathleteMessage  }}</b></div>
        <br>



    </div>
    <script defer src="index.js"></script>
</body>
</html>